rentovia_api_mule_1/src/main/mule/rentovia_api_raml.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <http:listener-config name="rentovia_api_raml-httpListenerConfig" basePath="/">
        <http:listener-connection host="0.0.0.0" port="4005" />
    </http:listener-config>
    <apikit:config name="rentovia_api_raml-config" api="rentovia_api_raml.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <http:request-config name="HTTP_Request_host" doc:name="HTTP Request configuration" doc:id="dd7b7dbc-bcff-4ebf-a1fc-03c64812a712" >
		<http:request-connection host="localhost" port="3000" />
	</http:request-config>
	<http:request-config name="HTTP_Request_finance" doc:name="HTTP Request configuration" doc:id="00d412a7-874d-4c8f-b0b1-23772988b961" >
		<http:request-connection host="localhost" port="4000" />
	</http:request-config>
	<http:request-config name="HTTP_Request_reservation" doc:name="HTTP Request configuration" doc:id="7ade9163-1b3c-45ba-9dbf-12cbb6381b3b" >
		<http:request-connection host="localhost" port="3001" />
	</http:request-config>
	<flow name="rentovia_api_raml-main">
        <http:listener config-ref="rentovia_api_raml-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="rentovia_api_raml-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="rentovia_api_raml-console">
        <http:listener config-ref="rentovia_api_raml-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="rentovia_api_raml-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="post:\reservation:application\json:rentovia_api_raml-config">
        <http:listener doc:name="Listener" doc:id="e969ee56-8ef0-4990-9269-d5a605971343" config-ref="rentovia_api_raml-httpListenerConfig" path="\reservation"/>
		<scatter-gather doc:name="Scatter-Gather" doc:id="03233815-992c-4588-999f-a25a4b171ce7" >
			<route >
				<http:request method="POST" doc:name="Save_reservation" doc:id="8bc3b686-526e-464b-8146-26fdc64aaecd" config-ref="HTTP_Request_reservation" path="/reservation"/>
			</route>
			<route >
				<http:request method="GET" doc:name="Get_Room_Price" doc:id="e9675997-5a88-4cdd-ace6-b570e52375c4" config-ref="HTTP_Request_host" path="/host/price/{guestHouseId}">
					<http:uri-params ><![CDATA[#[output application/java
---
{
	"guestHouseId" : payload.guestHouseId
}]]]></http:uri-params>
				</http:request>
			</route>
		</scatter-gather>
		<ee:transform doc:name="Merge responses" doc:id="169f4682-ee6e-4199-bd67-77cfc661bd19" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	useremail: payload["0"].payload.emailAddress,
	location: payload["0"].payload.location,
	numberOfRooms: payload["0"].payload.numberOfRooms,
	roomPrice: payload["1"].payload.roomPrice,
	startDate: payload["0"].payload.startDate,
	endDate: payload["0"].payload.endDate
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="POST" doc:name="Generate Bill" doc:id="1da2282f-b7b9-45a3-8683-4bb79fff60e8" config-ref="HTTP_Request_finance" path="/bill">
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="53c76eb7-2851-4899-a6b1-3478667d378c" />
    </flow>
</mule>
